body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left {
    margin-right: 80px;
}

.left h1 {
    color: #19ac20;
    font-size: 56px;
    margin-bottom: 10px;
}
.left img{
    width: 70%;


}

.left p {
    font-size: 22px;
    color: #1c1e21;
}

.login-box {
    background: #fff;
    width: 400px;
    padding: 60px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    text-align: center;
    height: 50vh;
}

.login-box input {
    width: 90%;
    padding: 14px;
    margin-bottom: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.login-btn {
    width: 100%;
    background: #19ac20;
    color: #fff;
    border: none;
    padding: 14px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn:hover {
    background: #38dc13;
}

.forgot {
    display: block;
    margin: 15px 0;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
}

hr {
    margin: 20px 0;
    border: 1px solid #ddd;
}

.create-btn {
    background: #19ac20;
    color: #fff;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.create-btn:hover {
    background: #38dc13;
}
